---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - fanet.restart.io
  resources:
  - fanets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fanet.restart.io
  resources:
  - fanets/finalizers
  verbs:
  - update
- apiGroups:
  - fanet.restart.io
  resources:
  - fanets/status
  verbs:
  - get
  - patch
  - update
