---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fanet.restart.io
  resources:
  - drones
  - fanets
  - servicechains
  - virtualfunctions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fanet.restart.io
  resources:
  - drones/finalizers
  - fanets/finalizers
  - servicechains/finalizers
  - virtualfunctions/finalizers
  verbs:
  - update
- apiGroups:
  - fanet.restart.io
  resources:
  - drones/status
  - fanets/status
  - servicechains/status
  - virtualfunctions/status
  verbs:
  - get
  - patch
  - update
