---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: virtualfunctions.fanet.restart.io
spec:
  group: fanet.restart.io
  names:
    kind: VirtualFunction
    listKind: VirtualFunctionList
    plural: virtualfunctions
    singular: virtualfunction
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Drone Reference
      jsonPath: .spec.droneRef.name
      name: Drone
      type: string
    - description: Service Chain Name
      jsonPath: .spec.serviceChainName
      name: ServiceChain
      type: string
    - description: Pod Status of the Virtual Function
      jsonPath: .status.statusPODVF
      name: Pod Status
      type: string
    - description: Last Updated Timestamp
      jsonPath: .status.lastUpdated
      name: Last Updated
      type: string
    - description: Current Phase of the Virtual Function
      jsonPath: .status.phase
      name: Phase
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualFunction is the Schema for the virtualfunctions API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VirtualFunctionSpec defines the desired state of VirtualFunction.
            properties:
              activeEnergyConsumptionWh:
                description: ActiveEnergyConsumptionWh is the active energy consumption
                type: string
              args:
                description: Args are the arguments for the container
                items:
                  type: string
                type: array
              droneRef:
                description: DroneRef references the drone to deploy on
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              idleEnergyConsumptionWh:
                description: IdleEnergyConsumptionWh is the idle energy consumption
                type: string
              image:
                description: Image is the container image to use
                type: string
              maxLatencyMs:
                description: MaxLatencyMs is the maximum latency in milliseconds
                type: integer
              resources:
                description: Resources are the resource requirements
                properties:
                  claims:
                    description: |-
                      Claims lists the names of resources, defined in spec.resourceClaims,
                      that are used by this container.

                      This is an alpha field and requires enabling the
                      DynamicResourceAllocation feature gate.

                      This field is immutable. It can only be set for containers.
                    items:
                      description: ResourceClaim references one entry in PodSpec.ResourceClaims.
                      properties:
                        name:
                          description: |-
                            Name must match the name of one entry in pod.spec.resourceClaims of
                            the Pod where this field is used. It makes that resource available
                            inside a container.
                          type: string
                        request:
                          description: |-
                            Request is the name chosen for a request in the referenced claim.
                            If empty, everything from the claim is made available, otherwise
                            only the result of this request.
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                    x-kubernetes-list-map-keys:
                    - name
                    x-kubernetes-list-type: map
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: |-
                      Limits describes the maximum amount of compute resources allowed.
                      More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: |-
                      Requests describes the minimum amount of compute resources required.
                      If Requests is omitted for a container, it defaults to Limits if that is explicitly specified,
                      otherwise to an implementation-defined value. Requests cannot exceed Limits.
                      More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                    type: object
                type: object
              serviceChainName:
                description: ServiceChainName is the name of the service chain this
                  VF belongs to
                type: string
            required:
            - droneRef
            - image
            type: object
          status:
            description: VirtualFunctionStatus defines the observed state of VirtualFunction.
            properties:
              lastDroneRef:
                description: LastDroneRef tracks the last drone this VF was deployed
                  on
                type: string
              lastUpdated:
                description: LastUpdated is the last update timestamp
                type: string
              phase:
                description: Phase is the current phase of the virtual function
                type: string
              statusPODVF:
                description: StatusPODVF is the status of the pod
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
